body{
    text-align: center;
    }

h1 {
	color: #fff;
	font-family: 'Vollkorn';
	font-size: 120px;
	line-height: 120px;
	margin: 20px 0 72px -10px;
	position: relative;
	text-align: center;
	}

h2 { color: #fff;
	font-family: 'Roboto';
	font-size: 32px;
	float: right;
	line-height: 48px;
	margin-bottom: 48px;
	width: 500px; }

p {
	color: #fff;
	font-family: 'Vollkorn';
	font-size: 20px;
	float: right;
	line-height: 48px;
	margin-bottom: 48px;
	width: 500px;
	text-align:right;
}

a {
	color: #48222F;
	font-size: 16px;
	font-family: 'Vollkorn', serif;
	font-style: italic;
	font-weight: 400;
	float: left;
	line-height: 24px;
	margin-bottom: 48px;
	margin-top: 20px;
	text-align: right;
	text-decoration: none;
	width: 240px;
}

a:hover {
	color: #fff;
}

select {
	color: #555;
	font-family: Serif;
	font-size: 15px;
	line-height: 36px;
	margin-bottom: 24px;
	text-align: center;
}

.rox{
    position: relative;
    display: block;
    boarder:none;
    margin-bottom: 20px;
	margin-top: 110px;
}

.james{
    position: relative;
    display: block;
    boarder:none;
    margin-bottom: 20px;
	margin-top: 20px;
   }
/* Dropdown Button */
.dropbutton {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

table, th, td {
    border: 1px solid black;

}

th, td {
    text-align: center;
    padding: 15px;
}

.seal {
    position: relative;
    overflow: hidden;
}

.seal img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    opacity:0.6;
}


