body{
    text-align: center;
    }

h1 {
	color: #fff;
	font-family: 'Roboto';
	font-size: 120px;
	line-height: 120px;
	margin: 20px 0 72px -10px;
	position: relative;
	text-align: center;
	}

h2 { color: #48222F;
	font-family: 'Roboto';
	font-size: 32px;
	float: right;
	line-height: 48px;
	margin-bottom: 48px;
	width: 500px; }

p {
	color: #fff;
	font-family: 'Vollkorn';
	font-size: 20px;
	float: right;
	line-height: 48px;
	margin: 20px 50px 48px 0;
	width: 500px;
	text-align:right;
}


select {
	color: #555;
	font-family: Serif;
	font-size: 15px;
	line-height: 36px;
	margin-bottom: 24px;
	text-align: center;
}

.rox{
    position: relative;
    display: block;
    boarder:none;
    margin-bottom: 20px;
	margin-top: 110px;
}

.james{
    position: relative;
    display: block;
    boarder:none;
    margin-bottom: 20px;
	margin-top: 20px;
   }

table, th, td {
    border: 0px white;

}

th, td {
    text-align: center;
    text-color: #48222F;
	font-family: 'Roboto';
	font-size: 32px;
	margin-bottom: 48px;
}




