<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Course Counts</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/main.js"></script>
</head>
<body>
    <img src="/images/oxy-seal.png" style="width:150px; height:150px;">
    <select class="term">
        <option>Fall 2010</option>
        <option>Spring 2011</option>
        <option>Summer 2011</option>
        <option>Fall 2011</option>
        <option>Spring 2012</option>
        <option>Summer 2012</option>
        <option>Fall 2012</option>
        <option>Spring 2013</option>
        <option>Summer 2013</option>
        <option>Fall 2013</option>
        <option>Spring 2014</option>
        <option>Summer 2014</option>
        <option>Fall 2014</option>
        <option>Spring 2015</option>
        <option>Summer 2015</option>
        <option>Fall 2015</option>
        <option>Spring 2016</option>
        <option>Summer 2016</option>
        <option>Fall 2016</option>
        <option>Spring 2017</option>
        <option>Summer 2017</option>
    </select>

    <select class="core_recs">
        <option></option>
        <option></option>
        <option></option>
        <option></option>
        <option></option>
    </select>
</body>
</html>
