
<!DOCTYPE html>
<html lang="en">
<style>
html{
	background:
    linear-gradient( rgba(0, 0, 0, 0.2), rgba(255, 255, 255, 0.77) );
    background-repeat: no-repeat;
    background-size: cover;
}
</style>
<head>
    <meta charset="UTF-8">
    <title>Results</title>
</head>
<body>
<p>
    {{ course }}
</p>
    <table border="1" cellpadding="5" cellspacing="5" style="width:50%" id="t01">
        <tr>
            <th><h2>Year </h2></th>
            <th><h2>Term</h2></th>
            <th><h2>Department</h2></th>
            <th><h2>Course Number</h2></th>
            <th><h2>Section</h2></th>
            <th><h2>Title</h2></th>
            <th><h2>Units</h2></th>
            <th><h2>Professor</h2></th>
            <th><h2>Schedule</h2></th>
            <th><h2>Core</h2></th>
            <th><h2>Total Seats</h2></th>
            <th><h2>Enrolled</h2></th>
            <th><h2>Reserved</h2></th>
            <th><h2>Reserved Open</h2></th>
            <th><h2>Waitlisted</h2></th>
        </tr>
        {% for course in results %}
        <tr>
            <td>{{ course.year }}</td>
            <td>{{ course.term }}</td>
            <td>{{ course.dept }}</td>
            <td>{{ course.course_num }}</td>
            <td>{{ course.section }}</td>
            <td>{{ course.title }}</td>
            <td>{{ course.units }}</td>
            <td><a herf="google.com">{{ course.professor }}</a></td>
            <td>{{ course.schedule }}</td>
            <td>{{ course.core_recs }}</td>
            <td>{{ course.total_seats }}</td>
            <td>{{ course.enrolled }}</td>
            <td>{{ course.reserved }}</td>
            <td>{{ course.reserved_open }}</td>
            <td>{{ course.waitlisted }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>